#box {
 width: 60px;
 height: 80px;
 margin: 30px auto; 
 background-color: dodgerblue;
 /*transform: rotate(45deg);
 transform: scale(2);
 transform: skewY(20deg);
 transform: translate(-50px,-50px);   
 transform: rotate(45deg) scale(2) skewY(20deg) translate(-50px,-50px);
 transition-property: all, background-color;
 transition-delay: .1s;
 transition-duration: 1s;
 transition-timing-function: ease-in-out;
 */
  transition: all 1s ease-in-out .1s;
} 

section{
 width: 400px;
 height: 60px;
 margin: auto;
}

#box:hover {
 cursor: pointer; 
 /*transition: all 1s linear;
 transform: rotate(360deg); */
 width: 200px;
 height: 60px;
 padding-right: calc(50% - 100px);
 border-radius: 15%;
 background-color: tomato;
}

