.header {
  overflow: hidden;
  background-color: #855d54;
  padding:20px 10px;
  /*height: 100px;
  width: 100vw;
  position:fixed;
  top: 0px;
  z-index: 10;*/
}

/* Style the header links */
.header a {
  float: left;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  color: white;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #dddddd;
  color: black;
}

/* Float the link section to the right */
.header-right {
  float: right;
  color: white;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

/*!!!!!*/

div.scroll-container {
  background-color: #855d54;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  margin: 0;
}

div.scroll-container img {
  padding: 10px;
}

.image{ /*need to set fixed position and size in html*/
  width: 400px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
}

.tallimage{
  weight: 75px;
  height: 400px;
  position: fixed;
  background-size: contain;
  background-repeat: no-repeat;
}

.title {
  position: fixed;
  z-index: 9;
  right: 20px;
  top: 110px;
  border-style: dashed;
}

.circle {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
}

.image:hover{
  animation: rotateBack 1s;
}

.circle:hover{
  animation: rotateBack 1s;
}

@keyframes rotateBack{
  0%{
    rotate: 0deg;
  }
  50%{
    rotate: 10deg;
  }
  100%{
    rotate: 0deg;
  }
}
