.homeHeader {
  height: 40px;
  width: 80px;
  position: fixed;
  top: 30px;
  left: 30px;
  background-color: rgba(255,255,255,0.4);
  text-align:center;
  line-height: 40px;
  padding: 10px;
  color: white;
  text-decoration:none;
}

.homeHeader:hover{
    background-color: rgba(255,255,255,0.8);
}

.homeHeader a{
  text-decoration:none;
  color:black;
}

.homeTitle {
  position: fixed;
  top: 5vh;
  right: 5.5vw;
  height: 25vh;
  width: 35vw;
  paddingtop: 20vh;
  text-align: center;
}

.homeBackground {
   background-image: url('HomePage.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: contain;
  height: 100vh;
  width: 100vw;
}

.start{
  height: 5vh;
  width: 12.5vw;
  position:absolute;
  top: 27vh;
  right:11.25vw;
  border-radius: 2.5vh;
  border: solid;
  transition: transform ease-in-out 0.5s;
}

.start a{
  text-decoration: none;
  color: white;
}

.start:hover{
  transform: scale(1.1);
}

.header {
  overflow: hidden;
  background-color: #855d54;
  padding:20px 10px;
  /*height: 100px;
  width: 100vw;
  position:fixed;
  top: 0px;
  z-index: 10;*/
}

.EntryHeader {
  height: 60px;
  width: 100vw;
  position:fixed;
  top: 0px;
  z-index: 800;
}

/* Style the header links */
.header a {
  float: left;
  text-align: center;
  padding: 12px; /*12*/
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
  color: white;
  line-height: 35px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #dddddd;
  color: black;
}

/* Float the link section to the right */
.header-right {
  float: right;
  color: white;
  padding-right: 20px;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

/*!!!!!*/

.scroll-container {
  overflow-x: scroll;
  overflow-y: scroll;
  white-space: nowrap;
  /*padding: 10px;*/
  /* New stuff */
  position: fixed;
  bottom: 60px;
  right: 10px;
}

.scroll-container img {
  padding-right: 50px;
  padding-left: 50px;
}

.image-wrap{
  display: inline-block;
}

.image-wrap:hover .textbubble{
  opacity: 0;
}

.textbubble {
  position: fixed;
  height: 200px;
  width: 200px;
  background-color: pink;
  opacity: 0;
  transition: all ease-in-out 0.5s;
}

/***COCO***/
.container {
  position: fixed;
}

.image{ /*need to set fixed position and size in html*/
  width: 29.8vw;
  height: 37.8vh;
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
  transition: transform 0.5s;
}

.title {
  position: fixed;
  z-index: 9;
  right: 20px;
  top: 110px;
  border-style: dashed;
}

.circle {
  height: 46.6vmin;
  width: 46.6vmin;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
  transition: transform 0.5s;
}

.decoration {
  width: 100vw;
  /*height: 100vh;*/
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
  pointer-events: none;
  z-index: 500;
  top: 0;
  right: 0;
}

.image:hover{
  z-index:100;
  transform: scale(1.05);
}

.circle:hover{
  z-index:100;
  transform: scale(1.05);
}

.rotating {
   transform: scale(1.05);
   animation: rotate 10s infinite linear;
}

@keyframes rotate {
   from { transform: rotate(0deg) scale(1.05); }
   to { transform: rotate(359deg) scale(1.05); }
}
