body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Grid container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
  /*grid-gap: 30px; /* Space between items */
  width: 100%; /* Make the grid take up the full width */
  padding-top: 100px;
  overflow: hidden;
}

.decoration {
  position: fixed; /* Position it above the grid */
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 1000; /* Place the overlay behind the grid items */
  pointer-events: none;
}

/* Grid item styling (for both image and text) */
.grid-item {
  position: relative;
  text-align: center;
  border: solid;
}

/* Image styling */
.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: visible;
}

/* Text styling, centered within each image */
.grid-item .text {
  position: absolute;
  top: 50%; /* Vertically center the text */
  left: 50%; /* Horizontally center the text */
  transform: translate(-50%, -50%); /* Adjust for exact centering */
  color: white;
  font-size: 16px;
}
