
/* Body setup */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 2em;
  color: #007BFF;
}

.container {
  width: 80%;
  max-width: 600px;
}

/* Style for the image container */
.pick-image-container {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden; /* Hide image when it's outside container */
  height: 300px; /* Fixed height for the image */
  width: 500px;
}

/* Image style */
.pick-movie-image {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out; /* Smooth transition for slide effect */
}

/* Button style */
.slide-btn {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 43px;
  height: 43px;
}

.slide-btn:hover {
  background-color: #0056b3;
}

.background-movies {
  width: 100vw;
  background-color: yellow;
  position: fixed;
  height: 100px;
  z-index: -1;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}
