p { 
color: black; 
font-size: 18px; 
padding: 10px; 
font-family: 'Manuale', Medium; 
font-weight: regular;
/* text-align: center; This is to make the body text centered */
}

/* !!!!! */

.header{
    /*width: 100%;*/
    min-height: 100vh;
    background: #556983;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:url("Classic_Rainbow_Flag.svg") ;
    background-size: cover;
    background-position: center;
    /* object-fit: cover; */
    background-repeat: no-repeat;
    /* background-attachment: fixed ; */

}
.header-title{
    margin: 0;
    margin-bottom: 25px;
font-weight: 700;
font-size: 56px;
line-height: 130%;
color: white;
}
.header-subtitle{
    margin: 0;
font-weight: bold;
font-size: 16px;
line-height: 150%;
text-transform: uppercase;
color: white;
letter-spacing: 0.2rem;
/* text-align: center; */
}

/* !!!! */

h1 { 
color: black; 
font-size: 120px; 
padding: 12px; 
font-family: 'Tangier'; 
font-weight: regular;
text-align:center;
}

h2 { 
color: black; 
font-size: 100px; 
padding: 12px; 
font-family: 'Helvetica Neue'; 
font-weight: regular;
text-align:center;
}

.color-button {
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.blue {
    background-color: #70a0ed;
}
.blue:hover {
    background-color: #2980B9;
}

.red {
    background-color: #d5491e;
}
.red:hover {
    background-color: #C0392B;
}

.green {
    background-color: #26cc0d;
}
.green:hover {
    background-color: #27AE60;
}
