p { 
color: black; 
font-size: 18px; 
padding: 10px; 
font-family: 'baloo', sans-serif; 
font-weight: regular;
}

h1 { 
color: black; 
font-size: 100px; 
padding: 15px; 
font-family: 'Megascope Variable'; 
font-weight: regular;
text-align:center;
}

h2 { 
color: black; 
font-size: 100px; 
padding: 15px; 
font-family: 'Helvetica Neue'; 
font-weight: regular;
text-align:center;
}

